beautifulsoup4>=4.13.4
beepy>=1.0.7
cached_path>=1.6.3
EbookLib>=0.18
ffmpeg_python>=0.2.0
gradio_client>=1.10.0
kokoro>=0.9.4
loguru>=0.7.3
mammoth>=1.7.1
num2words>=0.5.12
numpy>=2.2.5
pathvalidate>=3.2.0
Pillow>=11.2.1
platformdirs>=4.3.8
protobuf>=6.30.2
pytest>=8.3.5
python_dateutil>=2.9.0.post0
PyYAML>=6.0.2
Requests>=2.32.3
scipy>=1.15.3
soundfile>=0.13.1
srt>=3.5.3
torch>=2.5.1
tqdm>=4.67.1
typing_extensions>=4.13.2
